html, body {
  background-color: black;
  font-family: "Oxygen";
}

#userInput {
  border-radius: 30px;
  width: 50%;
  background-color: purple;
  border-color: purple;
  outline: none;
  box-shadow: none;
  font-family: 'Oxygen';
  display: inline-block;
  text-align: center;
  border-bottom-color: purple;
  border-top-color: purple !important;
  border-style: solid;
  color: white;
  margin-top: 15%;
  background: url("https://i.imgur.com/UrsVuqm.png") no-repeat;
  background-size: 15px 15px;
  background-position: 450px;
}

.randomArticle {
  padding-top: 15px;
}

.centerItems {
  text-align: center;
}
